*{
    padding: 0;
    margin: 0;
}

/********************************* 
**** Página Index (Bem-Vindo) ****
*********************************/

/*** Cor do Menu ***/
#nav-index{
    background-color: transparent;
    box-shadow: none;
}
/******************/

/*** Posição da Logo Inicial ***/
#logo1{
    margin-top: 10px;
    margin-left: 60px;
}

@media(max-width: 993px){
    #logo1{
        margin-left: 0px;
    }
}

@media(max-width: 414px){
    nav#nav-index .brand-logo{
        left: 22%;
    }

    #logo1{
        transform: scale(0.7,0.7)
    }
}

@media(max-width: 320px){
    nav .brand-logo{
        left: 15%;
    }
}

/*******************************/


/*** Posição e tamanho das letras do menu ***/
nav{
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding-right: 30px;*/
    height: 264px;
}

@media(max-width: 992px){
    nav{
        padding-right: 0;
    }
}

@media(max-width: 414px){
    nav{
        padding-top: 0;
    }
}

ul li a{
    font-family: SaralaBold;
    font-size: 16pt;
}

@media(min-width: 994px) and (max-width: 1200px){
    ul li a{
        font-size: 12pt;
        padding-right: 5px;
        padding-left: 5px;
    }
}

ul.lista-menu li{
    margin-right: 30px;
}

nav ul.lista-menu{
    margin-top: 15px;
}
/********************************************/

/*** Background da Página ***/
#fundo-index{
    background-image: url("../img/background-index.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#filtro-index{
    background-color: rgba(0, 0, 0, 0.95);
    min-height: 100vh;
}

/*****************************/

/*** Seção Bem-Vindo ***/

/*** Texto ***/
.texto-bem-vindo{
    margin-top: 70px;
    text-align: center;
}

h2#bem-vindo{
    font-family: RalewayExtraBold;
    font-size: 65pt;
    color: white;
}

h1#umbuesa-yegatu{
    font-family: HabelDemo;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px; 
}

#descricao-umbuesa-yegatu{
    font-family: SaralaBold;
    font-size: 20pt;
    color: white;
    max-width: 790px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}

@media(max-width: 564px){
    h2#bem-vindo{
        font-size: 50pt;
    }

    h1#umbuesa-yegatu{
        font-size: 40pt;
    }
}

@media(max-width: 420px){
    h2#bem-vindo{
        font-size: 40pt;
    }

    h1#umbuesa-yegatu{
        font-size: 30pt; 
    }

    #descricao-umbuesa-yegatu{
        font-size: 13pt;
    }
}

/******************************/

/********************************* 
******** Páginas em Geral ********
*********************************/

/*** Background das Páginas secundárias ***/
.fundo-paginas{
    background-image: url("../img/background-paginas.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
/******************************************/

/*** Menu das páginas secundárias ***/
.nav-paginas{
    padding-bottom: 0;
    padding-top: 0;
    height: 80px;
    background-color: #BAAA85;
}

div.nav-wrapper{
    background-image: url("../img/bg-nav.png");
}

nav ul.lista-menu2{
    margin-top: 10px;
}

ul.lista-menu2 li{
    margin-right: 30px;
}

/********************************************/

/*** Logo das páginas secundárias ***/
.logo2{
    margin-top: 10px;
    margin-left: 30px;
}

@media(max-width: 992px){
    .logo2{
        margin-top: 0;
        margin-left: 0;
    }
    .nav-wrapper{
        padding-top: 10px;
    }
}
/*****************************************/

/*** Distância do conteúdo para o menu ***/
.margin-top{
    margin-top: 30px;
}
/******************************************/

/*** Background texto Sobre e Histórias ***/
.bg{
    background-color: #E9E0D6;
}

@media(max-width: 976px){
    #sobre .card-image img{
        margin-bottom: 20px;
    }
}
/*******************************************/

/********************************* 
***** Páginas Yegatu (Sobre) *****
*********************************/

/*** Titulo do conteúdo ***/
span.titulo-sobre.card-title{
    font-family: RalewayExtraBold;
    font-size: 30pt;
    
}

@media(max-width: 420px){
    span.titulo-sobre.card-title{
        font-size: 25pt;
    }
}

#sobre.card .card-image .card-title{
    color: black;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 20px;
}

@media(max-width: 1250px){
    #sobre.card .card-image .card-title {
        color: black;
        padding-top: 20px;
        padding-bottom: 14px;
        padding-left: 30px;
        padding-right: 20px;
    }
}

@media(max-width: 976px){
    #sobre.card .card-image .card-title{
        position: relative;
        padding: 0;
        padding-top: 25px;
    }

    #sobre.card .card-image{
        background-color: #E9E0D6;
        text-align: center;
    }
}


/*******************************/

/*** Texto do Conteúdo ***/
.texto-sobre{
    margin-top: 20px;
    margin-left: 60px;
    font-family: RobotoRegular;
    font-size: 15pt;
    color: #808080;
}

@media(max-width: 976px){
    .texto-sobre{
        margin-left: 0;
    }
}
/************************/

/*** Imagem conteúdo Sobre ***/
.imagem-sobre{
    margin-right: 20px;
    margin-left: 20px;
}

@media(min-width: 1601px){
    .imagem-sobre{
        margin-top: 0;
    }
}

@media(min-width: 1301px) and (max-width: 1600px){
    .imagem-sobre{
        margin-top: 10%;
    }
}

@media(min-width: 1200px) and (max-width: 1300px){
    .imagem-sobre{
        margin-top: 50%;
    }
}

.imagem-sobre img{
    width: 100%;
}

#mobile{
    display: none;
}

@media(max-width: 1200px){
    #mobile{
        display: inline;
    }

    #desktop{
        display: none;
    }
}