*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    display: -webkit-flex; /* Safari */
    min-height: 100vh;
    flex-direction: column;
}

/********************************* 
**** Página Index (Bem-Vindo) ****
*********************************/

/*** Cor do Menu ***/
#nav-index{
    background-color: transparent;
    box-shadow: none;
}
/******************/

/*** Posição da Logo Inicial ***/
#logo1{
    margin-top: 10px;
    margin-left: 60px;
}

@media(max-width: 993px){
    #logo1{
        margin-left: 0px;
    }
}

@media(max-width: 414px){
    nav#nav-index .brand-logo{
        left: 22%;
    }

    #logo1{
        transform: scale(0.7,0.7)
    }
}

@media(max-width: 320px){
    nav .brand-logo{
        left: 15%;
    }
}

/*******************************/


/*** Posição e tamanho das letras do menu ***/
nav{
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding-right: 30px;*/
    height: 264px;
}

@media(max-width: 992px){
    nav{
        padding-right: 0;
    }
}

@media(max-width: 414px){
    nav{
        padding-top: 0;
    }
}

ul li a{
    font-family: SaralaBold;
    font-size: 16pt;
}

@media(min-width: 994px) and (max-width: 1200px){
    ul li a{
        font-size: 12pt;
        padding-right: 5px;
        padding-left: 5px;
    }
}

ul.lista-menu li{
    margin-right: 30px;
}

nav ul.lista-menu{
    margin-top: 15px;
}
/********************************************/

/*** Background da Página ***/
#fundo-index{
    background-image: url("../img/background-index.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#filtro-index{
    background-color: rgba(0, 0, 0, 0.95);
    min-height: 100vh;
}

/*****************************/

/*** Seção Bem-Vindo ***/

/*** Texto ***/
.texto-bem-vindo{
    margin-top: 70px;
    text-align: center;
}

h2#bem-vindo{
    font-family: RalewayExtraBold;
    font-size: 65pt;
    color: white;
}

h1#umbuesa-yegatu{
    font-family: HabelDemo;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px; 
}

#descricao-umbuesa-yegatu{
    font-family: SaralaBold;
    font-size: 20pt;
    color: white;
    max-width: 790px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}

@media(max-width: 564px){
    h2#bem-vindo{
        font-size: 50pt;
    }

    h1#umbuesa-yegatu{
        font-size: 40pt;
    }
}

@media(max-width: 420px){
    h2#bem-vindo{
        font-size: 40pt;
    }

    h1#umbuesa-yegatu{
        font-size: 30pt; 
    }

    #descricao-umbuesa-yegatu{
        font-size: 13pt;
    }
}

/******************************/

/********************************* 
******** Páginas em Geral ********
*********************************/

/*** Background das Páginas secundárias ***/
.fundo-paginas{
    background-image: url("../img/background-paginas.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
/******************************************/

/*** Menu das páginas secundárias ***/
.nav-paginas{
    padding-bottom: 0;
    padding-top: 0;
    height: 80px;
    background-color: #BAAA85;
}

div.nav-wrapper{
    background-image: url("../img/bg-nav.png");
}

nav ul.lista-menu2{
    margin-top: 10px;
}

ul.lista-menu2 li{
    margin-right: 30px;
}

/********************************************/

/*** Logo das páginas secundárias ***/
.logo2{
    margin-top: 10px;
    margin-left: 30px;
}

@media(max-width: 992px){
    .logo2{
        margin-top: 0;
        margin-left: 0;
    }
    .nav-wrapper{
        padding-top: 10px;
    }
}
/*****************************************/

/*** Distância do conteúdo para o menu ***/
.margin-top{
    margin-top: 30px;
}
/******************************************/

/*** Background texto Sobre e Histórias ***/
.bg{
    background-color: #E9E0D6;
}

@media(max-width: 976px){
    #sobre .card-image img{
        margin-bottom: 20px;
    }
}
/*******************************************/

/********************************* 
***** Páginas Yegatu (Sobre) *****
*********************************/

/*** Titulo do conteúdo ***/
span.titulo-sobre.card-title{
    font-family: RalewayExtraBold;
    font-size: 30pt;
    
}

@media(max-width: 420px){
    span.titulo-sobre.card-title{
        font-size: 25pt;
    }
}

#sobre.card .card-image .card-title{
    color: black;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 20px;
}

@media(max-width: 1250px){
    #sobre.card .card-image .card-title {
        color: black;
        padding-top: 20px;
        padding-bottom: 14px;
        padding-left: 30px;
        padding-right: 20px;
    }
}

@media(max-width: 976px){
    #sobre.card .card-image .card-title{
        position: relative;
        padding: 0;
        padding-top: 25px;
    }

    #sobre.card .card-image{
        background-color: #E9E0D6;
        text-align: center;
    }
}


/*******************************/

/*** Texto do Conteúdo ***/
.texto-sobre{
    margin-top: 20px;
    margin-left: 60px;
    font-family: RobotoRegular;
    font-size: 15pt;
    color: #808080;
}

@media(max-width: 976px){
    .texto-sobre{
        margin-left: 0;
    }
}
/************************/

/*** Imagem conteúdo Sobre ***/
.imagem-sobre{
    margin-right: 20px;
    margin-left: 20px;
}

@media(min-width: 1601px){
    .imagem-sobre{
        margin-top: 0;
    }
}

@media(min-width: 1301px) and (max-width: 1600px){
    .imagem-sobre{
        margin-top: 10%;
    }
}

@media(min-width: 1200px) and (max-width: 1300px){
    .imagem-sobre{
        margin-top: 50%;
    }
}

.imagem-sobre img{
    width: 100%;
}

#mobile{
    display: none;
}

@media(max-width: 1200px){
    #mobile{
        display: inline;
    }

    #desktop{
        display: none;
    }
}

/********************************* 
******* Template História ********
*********************************/

/******* Imagem de Destaque *******/
.img-destaque{
    width: 100%;
    height: 400px;
    background-image: url("../img/historias/destaque.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.faixa-img{
    width: 100%;
    height: 50px;
    background-color: #1AA854;
}

/**********************************/

/************* Card História ***************/
.content-historia{
    margin-top: -110px;
}

.card-historia{
    background-color: #E9E0D6;
}

.titulo-historia{
    background-color: #DDD1C2;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    font-family: RobotoRegular;
    height: 96px;
}

.conteudo-card{
    padding-top: 50px;
}

.texto-historia{
    padding: 50px 40px 30px 40px;;
}

.nome-autor{
    margin-top: 50px;
    margin-right: 10px;
    float: right;
}

@media(max-width: 360px){
    .nome-autor{
        margin-top: 17px;
    }
}

p.card-title.nome-autor{
    font-size: 1.0rem;
}

.texto-historia{
    font-family: RobotoRegular;
    font-size: 12pt;
    line-height: 23pt;
    color: #808080;
}

/********** Botões do Rodapé *****************/

.buttons-rodape{
    padding-bottom: 20px;
}

.fundo-btn{
    width: 130px;
    height: 80px;
    background-image: url("../img/fundo-buttons.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cor-btn{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #8F8279;
    width: 130px;
}

/*********************************************/

/********************************* 
******* Página Histórias *********
*********************************/

/****** Título e subtítulo da página *********/

.header-historias{
    padding-left: 0.75rem;
}

.header-historias h2{
    font-family: RalewayExtraBold;
    color: white;
    margin-bottom: 10px;
    font-size: 30pt;
}

.header-historias h3{
    font-family: SaralaBold;
    color: #CCCCCC;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 18pt;
}
/******************************************/


.card-lista-historia{
    border-radius: 2% 2% 2% 2%;
}

.card-lista-historia .card-image{
    border-radius: 2% 2% 0 0;
}

.card .card-image img{
    border-radius: 2% 2% 0 0;
}

div.card-content.informacoes-historia{
    border-radius: 0 0 2% 2%;
    padding: 24px 15px 24px 15px;
}

.faixa-titulo{
    height: 50px;
    background-color: #DDD1C2; 
    padding-top: 8px;
}

.titulos-historias{
    font-family: RobotoRegular;
    padding-left: 15px;
}

span.card-title.titulos-historias{
    font-size: 15pt;
}

.icon-leitura{
    width: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 25px;
    border-radius: 100%;
}

@media(min-width: 1200px) and (max-width: 1256px){
    .icon-leitura{
        margin-top: 0;
    }
}

@media(max-width: 600px){
    .icon-leitura{
        margin-top: 25px;
    }
}

@media(max-width: 484px){
    span.card-title.titulos-historias{
        font-size: 12pt;
    }

    .icon-leitura{
        margin-top: 5px;
    }
}

@media(max-width: 485px){
    .icon-leitura{
        margin-top: 25px;
    }
}   

.informacoes-historia{
    background-color: #E9E0D6;
}

.informacoes-historia p{
    font-family: RobotoRegular;
    font-size: 10pt;
    color: #808080;
}

a{
    color: black;
}

/*********************************************/

/********************************* 
******* Página Animações *********
*********************************/

/***** Cards das animações **************/
.animacao{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-lista-animacao{
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
    text-align: center;
}

.faixa-titulo-animacao{
    height: 50px;
    background-color: #DDD1C2; 
    padding-top: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/******************************/

/**** Botões Pause e Play ****/
.btn-play{
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    left: 0;
    right: 0;
}

.btn-play  img{
    width: 60px;
    height: 60px;
}

.pauses{
    display: none;
}

.btn-fechar-anima{
    float: right;
    font-family: RobotoMedium;
    font-size: 17pt;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #0071BC;
    padding: 0;
}

.btn-fechar-anima:hover{
    background-color: rgb(1, 97, 161);
}

/*****************************/

/********************************* 
******* Página Vídeos *********
*********************************/

/***** Cards das animações **************/
.video{
    position: relative;
    margin-bottom: 20px;
}

.card-lista-video{
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
    text-align: center;
}

.faixa-titulo-video{
    height: 50px;
    background-color: #DDD1C2; 
    padding-top: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/******************************/

.modal{
    background-color: rgba(0,0,0,0);
}

.title-video{
    width: 70%;
    float: left;
    color: white;
    font-family: RobotoRegular;
    font-size: 30pt;
}

@media(max-width: 400px){
    .title-video{
        font-size: 20pt;
    }
}

.btn-fechar-video{
    float: right;
    font-family: RobotoMedium;
    font-size: 17pt;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #E64251;
    padding: 0;
}

.btn-fechar-video:hover{
    background-color: rgb(211, 38, 53);
}

/********************************************************/

/********************************* 
******** Página Galeria **********
*********************************/

.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

.slider-single h3 {
	line-height: 10rem;
}

.slider-nav h3::before {
	content: "";
	display: block;
	padding-top: 75%;
}

.slider-nav h3 span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active h3 {
	color: #c00;
	background-color: #fff
}

/*** Tamanho do slider ***/
.slider-single{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.img-carrossel{
    margin-left: auto;
    margin-right: auto;
}
/*****************************/

/*** Tamanho do slider do footer ***/
.slider-nav{
    height: 70px;
}
/*****************************/

/***** Botões Next e Prev *****/
.slick-prev{
    top: 40%;
    left: -100px;
}

.slick-next{
    top: 40%;
}

.slick-prev:before {
    content: url(../img/galeria/btn-prev.png);
}

.slick-next:before {
    content: url(../img/galeria/btn-next.png);
}

/*****************************/

/********************************* 
******** Página Contato **********
*********************************/

.img-midia-social{
    margin-left: 10px;
}
.txt-midia-social{
    width: 150px;    
    font-family: RobotoBlack;
    font-size: 11pt;
    color: white;
    float: right;
    margin-right: 70px;
}

input, textarea{
    width: 100%;
    border-radius: 3px;
    background-color: #CCCCCC;
    margin-bottom: 20px;
    border: 2px solid #B3B3B3;
    margin-left: 20px;
}

#email{
    height: 40px;
}

#mensagem{
    min-height: 200px;
}

input::placeholder, textarea::placeholder{
    color: #666666;
}

textarea{
    padding: 10px 0 0 0;
}

.btn-enviar{
    float: right;
    background-color: #1AA854;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    font-family: RobotoBold;
    font-size: 10pt;
}